<!-- use mt-auto here to push the footer to the end -->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="footer-text text-muted">&copy; GSSR <%= new Date().getFullYear() %> </span>
    </div>
</footer>