<!-- use mt-auto here to push the footer to the end -->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="footer-text text-muted">&copy; 
            <%= new Date().getFullYear() %> GSSR</span>
        <span  style = "padding-left : 990px"; class="footer-text text-muted"> Michael Getachew Tadesse</span>
    </div>
</footer>