
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="http://gssr.info">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            
            <a class="nav-link topic" aria-current="page" href="/home">GSSRDB</a>

            <a class="nav-link topic" href="/trends">Long-Term Trends</a>
            <a class="nav-link topic" href="/trendsens">Trend Sensitivity Analysis</a>
            <a class="nav-link topic" href="/trendsens">Satellite-Era Trends</a>
            <a class="nav-link topic" href="/trendsens">Surge Frequency Trends</a>
        </div>
        </div>
    </div>
    </nav>