<% layout('layouts/cptBoilerplate') %> 

<h2><strong>GSSR: Changepoint Analysis</strong></h2>

<!-- adding the leaflet map -->
<div id="mapid"></div>


<div class="text">
    <p>Check out the <a href="http://gssr.info/cpt">Changepoint Repository</a> for detailed analysis, plots and reconstruction datasets</p>
</div>


<div class="text">
    <p>
        For more information on the methods and detailed results, please checkout the <a href="https://doi.org/10.1002/essoar.10511038.1" target="_blank">preprint</a>
    </p>
</div>


<!-- <div class="fig">
    <figure>
        <img src="/images/fig8.png" alt="">
        <figcaption>
       
        </figcaption>
    </figure>
</div> -->

