<% layout('layouts/cptBoilerplate') %> 

<h2><strong>GSSR: Changepoint Analysis</strong></h2>

<!-- adding the leaflet map -->
<div id="mapid"></div>

<div class="text">
    <p>
        In order to remove spurious trends from the centennial surge reconstructions we apply changepoint analysis. This provides a reliable surge reconstruction that can be used for long-term trend analysis.     We use Bayesian changepoint analysis to detect the period when a variable’s time series parameters start making significant changes or deviations from the normal. The analysis is performed using the annual variability time series of four variables, three predictors (zonal wind speed, meridional wind speed, and mean sea-level pressure from the 20CR and ERA-20C reanalysis) and the reconstructed surges (G-20CR  and G-E20C). The annual variabilities of the four variables are computed by calculating the annual standard deviation for the period covered by the two reanalyses: 1836-2015 for 20CR and 1900-2010 for ERA-20C. 
    </p>
</div>

<div class="fig">
    <figure>
        <img src="/images/fig8.png" alt="">
        <figcaption>
            Decreasing trends in annual variability (standard deviation) for 20CR predictors; mean sea-level pressure (a), zonal wind speed (b), meridional wind speed (c), and G-20CR for multiple tide gauges
        </figcaption>
    </figure>
</div>

<div class="text">
    <p>
        Figure 9 shows the annual variability for 20CR predictors, and G-20CR for five tide gauges from the Arctic, Antarctica, Australia, New Zealand, and the northwest coast of US. Our analysis has shown that tide gauges in these regions show relatively higher drop in the variability of the predictor variables and reconstructed surges as the they go back in time compared to the recent time (Figure 1 &9). G-E20C (not shown here) also shows such a decrease in annual variability in some of these tide gauges. Some of the tide gauges like Base Prat and Kerguelen show a very rapid decline in the variability time series leading to a changepoint year in the 2000s. Therefore, these tide gauges and others with similar erroneous behavior are not considered for further analysis (i.e. trend analysis). They are marked in red in Figure 2 and Figure 3. 
    </p>
</div>

<div class="fig">
    <figure>
        <img src="/images/fig2.png" alt="">
        <figcaption>Length of reliable G-20CR (a) and G-E20C (b) reconstruction surges in years after changepoint analysis</figcaption>
    </figure>
    
</div>

<div class="fig">
    <figure>
        <img src="/images/fig3.png" alt="">
        <figcaption>Additional years of reliable storm surge data after changepoint analysis obtained from G-20CR (a) and G-E20C (b) compared to the existing observed records. Negative numbers indicate that surge reconstructions have fewer number of years compared to observations.</figcaption>
    </figure>
</div>