<% layout('layouts/cptBoilerplate') %> 

<h2><strong>GSSR: Changepoint Analysis</strong></h2>

<!-- adding the leaflet map -->
<div id="mapid"></div>

<div class="text">
    <p>
        For more information on the methods and detailed results, please checkout
        the <a href="">preprint</a> . 
    </p>

</div>
