<% layout('layouts/trendsBoilerplate') %> 

<h2><strong>Surge Frequency Trends</strong></h2>


<div class="text">
    <p>
        For more information on the methods and detailed results, please checkout the <a href="">preprint</a>
    </p>
</div>

<!-- <div class="fig">
    <figure>
        <img src="/images/twcr_era20c_1950_99.png" 
        alt="">
        <figcaption>
    
        </figcaption>
    </figure>

</div> -->

