<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MBV40JCYQJ"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-MBV40JCYQJ');
    </script>


    <title>GSSRDB</title>
</head>
<body>
    <h1>GSSR-DB: The Database</h1>
    <h2>Observed Surge</h2>
    <h4><a href="/tgsa2m">Tide Gauges (A-M)</a></h4>
    <h4><a href="/tgsm2z">Tide Gauges (M-Z)</a></h4>
</body>
</html>