<% layout('layouts/boilerplate') %> 

<div class="main-title">
    <h1><strong>GSSR-DB: The Database</strong></h1>
    <hr>

    <br>

    <div class="search-element">    
        <form action="/search" method="get">
            <!-- <label for="name">Tide Gauge</label> -->
            <input type="text" name="name" id = "name" placeholder="eg. cuxhaven">
            <button type="button" class="btn btn-dark">Search</button>
        </form>
    </div>


    <h4><a href="/tgsa2m" style="color: green">Tide Gauges (A-M)</a></h4>
    <h4><a href="/tgsm2z" style="color: magenta">Tide Gauges (M-Z)</a></h4>
    <h4><a href="/https://safe-scrubland-38484.herokuapp.com/cpt" style="color: black">Changepoint Analysis</a></h4>
    <h4><a href="http://gssr.info" style="color: blue">GSSR Home Page</a></h4>
    <h4><a href="https://github.com/moinabyssinia/gssr-webmap" style="color: red">GSSR GitHub Repo</a></h4>

</div>


