
<% layout('layouts/boilerplate') %> 

<div class="main-title">
    <h1><strong>GSSR-DB: The Database</strong></h1>
    <hr>

    <br>

    <div class="search-element">    
        <form action="/search" method="get">
            <!-- <label for="name">Tide Gauge</label> -->
            <input type="text" name="name" id = "name" placeholder="eg. cuxhaven">
            <button type="submit" class="btn btn-dark">Search</button>
        </form>
    </div>


    <a href="/tgsa2m" style="color: green; text-decoration: none;" target="_blank"><h4>Tide Gauges (A-M)</h4></a>
    <a href="/tgsm2z" style="color: magenta; text-decoration: none;" target="_blank"><h4>Tide Gauges (M-Z)</h4></a>
    <!-- <h4><a href="/https://safe-scrubland-38484.herokuapp.com/cpt" style="color: black">Changepoint Analysis</a></h4> -->
    <a href="http://gssr.info" style="color: blue; text-decoration: none;" target="_blank"><h4>GSSR Home Page</h4></a>
    <a href="https://github.com/moinabyssinia/gssr-webmap" style="color: red; text-decoration: none;" target="_blank"><h4>GSSR GitHub Repo</h4></a>

</div>


