<% layout('layouts/boilerplate') %> 

<h2><%= tgName %> </h2>
<h3>Observation - Daily Maximum Surge</h3>
<!-- <button onclick="exportTableToCSV('<%= tgName %>.csv')">Download CSV</button> -->

<div class="container">
    <div id="chart"></div>
</div>



