<% layout('layouts/trendsBoilerplate') %> 

<h2><strong>Satellite-Era Trends</strong></h2>


<div class="text">
    <p>
        For more information on the methods and detailed results, please checkout the <a href="https://doi.org/10.1002/essoar.10511038.1" target="_blank">preprint</a>
    </p>
</div>

<!-- <div class="fig">
    <figure>
        <img src="/images/twcr_era20c_1950_99.png" 
        alt="">
        <figcaption>
    
        </figcaption>
    </figure>

</div> -->

