<% layout('layouts/trendsBoilerplate') %> 

<h2><strong>GSSR: Long-Term Trend Analysis</strong></h2>

<!-- adding the leaflet map -->
<div id="mapid"></div>

<br>

<div class="text">
    <p>
        For more information on the methods and detailed results, please checkout
        the <a href="">preprint</a> . 
    </p>

</div>
