<% layout('layouts/trendsBoilerplate') %> 

<h2><strong>GSSR: Long-Term Trend Analysis</strong></h2>

<!-- adding the leaflet map -->
<div id="mapid"></div>





<!-- Trend analysis result figures -->

<div class="fig">
    <img src="/images/fig7.png" alt="storm frequency analysis">
</div>

<!-- <div class="fig">
    <img src="/images/fig2.png" alt="">
</div>

<div class="fig">
    <img src="/images/fig3.png" alt="">
</div> -->