<% layout('layouts/trendsBoilerplate') %> 

<h2><strong>GSSR: Trend Analysis</strong></h2>

<!-- adding the leaflet map -->
<div id="mapid"></div>

<div class="fig">
    <img src="/images/fig7.png" alt="">
</div>

<!-- <div class="fig">
    <img src="/images/fig2.png" alt="">
</div>

<div class="fig">
    <img src="/images/fig3.png" alt="">
</div> -->