<% layout('layouts/trendsBoilerplate') %> 

<h2><strong>Trend Sensitivity Analysis</strong></h2>

<div class="text">
    <p>
        For tide gauges with relatively long surge records observed surges are compare against the reconstructed surges. Here we compare 99th percentile observed and reconstructed surges by computing their corresponding trends for various overlapping time windows. We start with a window length of 30 years which is moved by one year each time step and repeat the same analysis for longer time windows (adding one year each step). This allows us to not only compare the reconstructed and observed trends for many more time periods than were used in the previous section, but also shows how multidecadal variability affects observed and reconstructed trends. In Cuxhaven, for example, negative trends are found in observations early in the record when using shorter window lengths; and while G-20CR also shows some negative trends early in the record and for short window lengths, the overall patterns in both reconstructions are different, with more persistent positive trends compared to observations.  
    </p>

    <div class="hq-fig">
        <figure>
            <img src="/images/traiangular_plot_v3_revamp.png" 
            alt="

            Trend (mm/year) comparison for 99th percentile observed surge (left),
            G-20CR (middle), and G-E20C (right) for Boston (a), Cuxhaven (b), and Portpire
            (c). Trends are computed for moving time windows (x-axis) starting with a
            window length of 30 years, which increases one year each step (y-axis) up to
            the length of available data. Significant trends at 5% significance level are
            marked with an asterisk.">

            <figcaption>
            Trend (mm/year) comparison for 99th percentile observed surge (left),
            G-20CR (middle), and G-E20C (right) for Boston (a), Cuxhaven (b), and Portpire
            (c). Trends are computed for moving time windows (x-axis) starting with a
            window length of 30 years, which increases one year each step (y-axis) up to
            the length of available data. Significant trends at 5% significance level are
            marked with an asterisk.
            </figcaption>
        </figure>

    </div>

    <div class="text">
        <p>
            At Port Pire, also both G-20CR and G-E20C show positive trends for most time periods and window lengths, while observed trends are mostly negative. In Boston, G-E20C agrees well with observations in terms of the sign of the trends, while G-20CR shows very different patterns. More examples are provided in second figure with similar conclusions, i.e. agreement between reconstructions but not with observations in Astoria, relatively good agreement between G-E20C and observations in Brest, and general agreement between all three in Fremantle for most time periods and window lengths. Overall, there is more agreement when trends are derived for longer time windows. 
        </p>

    </div>

    <div class="hq-fig">
        <figure>
            <img src="/images/traiangular_plot_supp_v2_revamp.png" 
            alt="

            Trends (mm/year) comparison for 99th percentile observed surge (left), G-20CR (middle), and G-E20C (right) for Astoria (a), Brest (b), and Fremantle (c). Trends are computed starting with a minimum window length of 30 years up to the length of available data. Significant trends at 5% significance level are marked with an asterisk. Grey rectangles indicate time period where data is not at least 75% complete.">

            <figcaption>
                Trends (mm/year) comparison for 99th percentile observed surge (left), G-20CR (middle), and G-E20C (right) for Astoria (a), Brest (b), and Fremantle (c). Trends are computed starting with a minimum window length of 30 years up to the length of available data. Significant trends at 5% significance level are marked with an asterisk. Grey rectangles indicate time period where data is not at least 75% complete.
            </figcaption>
        </figure>

    </div>