<% layout('layouts/trendsBoilerplate') %> 

<h2><strong>GSSR: Long-Term Trend Analysis</strong></h2>

<!-- adding the leaflet map -->
<div id="mapid"></div>

<br>

<div class="text">
    <p>
        Here, we investigate G-20CR and G-E20C trends for the 1950-2010(2015) and 1930-2010(2015) periods after removing suspicious data that may contain spurious trends. The web-map above provides the trends in the 99th percentile G-20CR and G-E20C surges.
        For G-20CR, significant trends at the 5% significance level are found at 26% of the tide gauges (which were considered originally for change point analysis), notably in the northern UK, Kattegat Bay, southeast Australia, and New Zealand. The largest statistically significant positive trends are derived for the northern UK and New Zealand with magnitudes of 1.9 mm/year and 1.6 mm/year, respectively. Although statistically insignificant, Cuxhaven (Germany) and Esbjerg (Denmark) have the largest trends with magnitudes of 2.48 mm/year and 1.89 mm/year respectively. Small but significant negative trends with an average magnitude of -0.6mm/year are derived at 13 tide gauges and those are mostly located along the Atlantic coasts of France and Spain and in the Adriatic Sea.
    </p>

    <div class="fig">
        <figure>
            <img src="/images/twcr_era20c_1950_99.png" 
            alt="
            Trends (mm/year) for the annual 99th percentile surge values for G-20CR (a-e) and
            G-E20C (f-j) corresponding to 1950-2015 and 1950-2010 respectively. Rectangle
            markers indicate significant trends at the 5% significance level.">
            <figcaption>
                Trends (mm/year) for the annual 99th percentile surge values for G-20CR (a-e) and G-E20C (f-j) corresponding to 1950-2015 and 1950-2010 respectively. Rectangle markers indicate significant trends at the 5% significance level.
            </figcaption>
        </figure>

    </div>


    <p>
        Similarly, for G-E20C significant trends for the 1950-2010 period are found at 26% of the tide gauges. Positive trends are derived for the US Gulf coast, UK, Kattegat Bay, and the German Bight. The largest statistically significant positive trend of 2.9 mm/year is derived in the southeastern North Sea (for both Cuxhaven in Germany and Delfzjil in the Netherlands), followed by 2.5 mm/year at Nome (Alaska), and 2.1 mm/year at Millport (UK). Very few tide gauges (4%) show negative trends and those are located in the same regions that had negative trends in the G-20CR reconstruction. The largest negative trend is -1.0 mm/year at Villagarcia (Spain).
    </p>

    <p>
        Over the 1930-2015 (G-20CR) and 1930-2010 (G-E20C) periods, 67% and 85% of the 192(142) tide gauges analyzed show positive trends in the 99th percentile surges (Figure 8) (see Methods on how tide gauges are selected for trend analysis). This is a higher percentage of tide gauges with positive trends compared to the 56% (G-20CR) and 63% (G-E20C) during the 1950-2015 and 1950-2010 periods respectively. Furthermore, many of the same regions—such as the southeastern North Sea and the Kattegat Bay—show persistent positive trends. Tide gauges along the US West coast, Australia (G-20CR), and New Zealand are not included in the analysis for this period since the change point analysis indicated suspicious data before the 1940s (Figure 2a). Significant positive trends are derived for tide gauges along the US northeast coast (G-20CR), UK, German Bight, Kattegat Bay, and southeast China (G-20CR; results for China are not shown in Fig. 8 because of the small number of tide gauges). The largest statistically significant trends are again derived in the southeastern North Sea with magnitudes of 4.5 mm/year (G-E20C) and 3.0 mm/year (G-20CR) at Cuxhaven (Germany), followed by 3.6 mm/year (G-E20C) at Delfzjil (The Netherlands), 2.3 mm/year (G-20CR) at Gladstone (UK), and 2.0 mm/year (G-20CR) at Esbjerg (Denmark).
    </p>

</div>


<!-- <div class="fig">
    <img src="/images/fig3.png" alt="">
</div> --> -->