<% layout('layouts/trendsBoilerplate') %> 

<h2><strong>Trend Sensitivity Analysis</strong></h2>

<div class="text">
    <p>
        For more information on the methods and detailed results, please checkout
        the <a href="">preprint</a> . 
    </p>
</div>