<% layout('layouts/trendsBoilerplate') %> 

<h2><strong>Trend Sensitivity Analysis</strong></h2>

<div class="text">
    <p>
        Here, we investigate the sensitivity of trends to start year.
    </p>

    <div class="fig">
        <figure>
            <img src="/images/traiangular_plot_v3.png" 
            alt="

            Trend (mm/year) comparison for 99th percentile observed surge (left),
            G-20CR (middle), and G-E20C (right) for Boston (a), Cuxhaven (b), and Portpire
            (c). Trends are computed for moving time windows (x-axis) starting with a
            window length of 30 years, which increases one year each step (y-axis) up to
            the length of available data. Significant trends at 5% significance level are
            marked with an asterisk.">

            <figcaption>
            Trend (mm/year) comparison for 99th percentile observed surge (left),
            G-20CR (middle), and G-E20C (right) for Boston (a), Cuxhaven (b), and Portpire
            (c). Trends are computed for moving time windows (x-axis) starting with a
            window length of 30 years, which increases one year each step (y-axis) up to
            the length of available data. Significant trends at 5% significance level are
            marked with an asterisk.
            </figcaption>
        </figure>

    </div>

    <p>
        Additional tide gauges
    </p>

    
<div class="text">
    <p>
        Here, we investigate the sensitivity of trends to start year.
    </p>

    <div class="fig">
        <figure>
            <img src="/images/traiangular_plot_supp_v2.png" 
            alt="

            Trends (mm/year) comparison for 99th percentile observed surge (left), G-20CR (middle), and G-E20C (right) for Astoria (a), Brest (b), and Fremantle (c). Trends are computed starting with a minimum window length of 30 years up to the length of available data. Significant trends at 5% significance level are marked with an asterisk. Grey rectangles indicate time period where data is not at least 75% complete.">

            <figcaption>
                Trends (mm/year) comparison for 99th percentile observed surge (left), G-20CR (middle), and G-E20C (right) for Astoria (a), Brest (b), and Fremantle (c). Trends are computed starting with a minimum window length of 30 years up to the length of available data. Significant trends at 5% significance level are marked with an asterisk. Grey rectangles indicate time period where data is not at least 75% complete.
            </figcaption>
        </figure>

    </div>