table, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

td {
    padding: 5px 10px;
}

table {
    margin-top: 20px;
    margin-bottom: 20px;
}

.header {
    background-color : rgb(160, 157, 157);
}